<!--The content below is only a placeholder and can be replaced.-->


<md-sidenav-container style="height: 100vh">
  <md-toolbar color="primary">
    <span><button type="button" md-icon-button (click)="sidenav.open()"><md-icon>menu</md-icon></button></span>
    <span class="fill-space"></span>
    <span>My App</span>
  </md-toolbar>

  <md-card align="center">
    <md-input-container>
      <input mdInput (keyup)="onKey($event)" placeholder="What's your name?" name="name">
    </md-input-container>
  </md-card>
  <md-card *ngIf="name" align="center">
    <p>Hello {{name}}, how are you today? </p>
  </md-card>

  <md-sidenav #sidenav>
    <md-toolbar>
      <span>Application Menu</span>
      <span class="fill-space"></span>
      <span><button type="button" md-icon-button (click)="sidenav.close()"><md-icon>close</md-icon></button></span>


    </md-toolbar>
    <md-list>
      <md-list-item>Item 1</md-list-item>
      <md-list-item>Item 2</md-list-item>
      <md-list-item>Item 3</md-list-item>
    </md-list>
    <md-toolbar>Settings</md-toolbar>
  </md-sidenav>


</md-sidenav-container>